#spotDescriptionCallToAction{
    display: flex;
    flex-direction: row;
}

#spotCallToAction{
    width:30%;
    height:131px;
    border: solid;
    border-radius: 12px;
}

#spotCallToActionTopRow{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight:600;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}

.SpotDescription{
    width: 70%;
    margin-right:3%
}

#callToActionPrice{
    font-size: 25px;
}



/* The stars display in the spot call to action */
#spotCallToActionTopRow > span:nth-child(2){
    float:right;
}

#SpotDetailsBody{
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
}

#SpotCallToActionButton{
    padding-left: 20px;
    padding-top: 19px;
    padding-right:20px;
}

#SpotCallToActionButton > button{
    background-color: red;
    color: white;
    width: 100%;
    height: 43px;
}
