.hidden{
    display:none;
}

#MainNav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#navList{
    display: flex;
    flex-direction: row;
    list-style:none;
}

#navList{

}

#navList > li:nth-child(2){
}

#navList > li:nth-child(1){
    margin-right:10px
}

.profile-dropdown{
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px black solid;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
}

.profile-dropdown > hr{
    margin-top: 9px;
    margin-bottom: 0px;
}

.pointer{
    cursor:pointer;
}
